{% extends 'layout/layoutDay.html.twig' %}
{% block body %}
<div class="limiter">
    <div class="wrapLimiter">
        <div class="wrapAdminAdd p-b-120 p-t-20">
            {{ form_start(form, {'method': 'POST' , 'attr':{'class': 'baseForm validate-form'}}) }}
                <span class="baseFormTitle ">
                    <h1>Lier les activités :</h1>
                </span>
               
                <div class="baseText baseSelect validate-input" data-validate = "C'est un champ obligatoire">
                    <span class="label-baseInput label-input100">Choisir l'activité</span>
                    {{ form_widget(form.relatedEvent, { 'attr': {'class': 'baseInput textInput selectInput'}, 'value': '' }) }}
                </div>
                <div class="formErrors">
                    {{ form_errors(form.relatedEvent) }}
                </div>  
                <div class="baseTime validate-input" data-validate="C'est un champ obligatoire">
                    <span class="label-baseInput label-input100">L'heure de début</span>
                    {{ form_widget(form.beginTime, { 'attr': {'class': 'baseInput'} }) }}
                </div>
                <div class="formErrors">
                    {{ form_errors(form.beginTime) }}
                </div>  
                 <div class="baseTime validate-input" data-validate="C'est un champ obligatoire">
                    <span class="label-baseInput label-input100">L'heure de fin</span>
                    {{ form_widget(form.endTime, { 'attr': {'class': 'baseInput'} }) }}
                </div>
                <div class="formErrors">
                    {{ form_errors(form.endTime) }}
                </div>
                <div class="baseSubmit">
                    {{ form_widget(form.submit, { 'attr': {'class': 'baseFormButton sitebtn relateChangeBtn'} }) }}
                </div>
                <a class="backBtn sitebtn" href={{ path('selectevent', { idDay: idDay })}}>Retour</a>  
            {{ form_end(form) }}
        <ul class="formErrors">
            {% for error in errors %}
                <li>{{ error}}</li>
            {% endfor %}
        </ul>
        </div>
    </div>
</div>
{% endblock %}