{% block nav %}
    {{ parent() }}
    <nav class="navig">
            <ul class="navcore">
                <li class="navTitleLi" ><a class="navtitle" href={{ path('index')}}>JOURNEE PEDAGOGIQUE</a></li>
                <li class="navLink active"><a class="navitema" href={{ path('index')}}>Accuiel</a></li>
                <li class="navLink"><a class="navitema" href={{ path('calendar')}}>Calendrier</a></li>
                <li class="navLink"><a class="navitema" href={{ path('faq')}}>FAQ</a></li>
                <li class="navButton"><a class="navitem2a" href="#">Créer un événement</a></li>
            </ul>
    </nav>
{% endblock %}
