{% extends 'layout/layoutDay.html.twig' %}
{% block body %}
<div class="limiter">
    <div class="wrapLimiter">
        <span class="baseFormTitle">
            <h1>Liste de jours : </h1>
        </span>
        {% for day in days %}
            <div class="day">
                {% if day.repeat == true %}
                    <img src={{asset('images/repeat.png')}} class="repeatIcon"/>
                {% else %}
                    <img src={{asset('images/one.png')}} class="repeatIcon"/>
                {% endif %}
                <p class="dayName">Nom du jour : {{day.name}}</p>
                <p class="dayDate">Date : {{day.date}}</p>
                <p class="dayBegin">L'heure de début : {{day.beginTime}}</p>
                <p class="dayEnd">L'heure de fin : {{day.endTime}}</p>
                <a class="dayDetailBtn sitebtn" href={{ path('dayDetail', { idDay: day.idDay })}}>Afficher les détails</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}