{% extends 'layout/layoutDay.html.twig' %}
{% block body %}
<div class="limiter agendaBlock">
    <div class="wrapLimiter calendarSim">
        {% for day in days %}
            <div class="day">
                <p class="dayName">Nom du jour : {{day.name}}</p>
                <p class="dayDate">Date : {{day.date}}</p>
                <p class="dayBegin">L'heure de début : {{day.beginTime}}</p>
                <p class="dayEnd">L'heure de fin : {{day.endTime}}</p>
                <a class="dayDetailBtn" href={{ path('dayDetail', { idDay: day.idDay })}}>Afficher les détails</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}