{% extends 'layoutAdmin.html.twig' %}
{% block body %}
    <div class="limiter">
    <div class="event-block">
            {% for time in times %}
                <div class="time-block"> 
                    <div class="time-value"> 
                        {{time.value}}
                    </div>
                    {% for event in events %}
                        <div class="event">
                            <p class="dayName">{{day.name}}</p>
                            <p class="dayDate">{{day.date}}</p>
                            <p class="dayBegin">{{day.beginTime}}</p>
                            <p class="dayEnd">{{day.endTime}}</p>
                        </div>
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}